
/* Fonts */
 h1, h2, h3, h4, h5, h6, p, div  {
    font-family: 'Titillium Web', sans-serif;;
}

/* Jumbotron Styling */
.jumbotron {
	background: url(https://unsplash.imgix.net/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg?q=75&fm=jpg&auto=format&s=98e65d0d3f8fcc55b075259021149508) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: darkgrey;
  	margin-bottom: 0px;
  	padding-top: 0px;
}

.well {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0px;
	border: none;
	margin-top: 100px;
	margin-bottom: 75px;

}

/* well bottom link */
.link {
	float: right; 
}

.title {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

.title h3 {
	font-size: 30px;
}

h5 {
	margin-top: 0px;
	color: white;
	font-size: 16px;
	float: left;
	display: inline;
}

/* Navbar styling */
.navbar {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* Logo in Nav */
.image, .nav-image {
	width: 100px;
	text-align: center;
	display: inline;
	float:left;
}

/* Button in Nav */
nav .btn-lg, .btn-group-lg>.btn>.nav-button {
	margin-top: 15px;
	display: inline;
	float:right;
}

/* Centering text in jumbo */
.jumbotron h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}

.jumbotron p {
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	color: #FFF;
	font-weight: 500;
}

/* Centering images in jumbo */
.jumbotron img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Jumbo button tweak */
.jumbotron .btn {
	margin-top: 20px;
}

@media(min-width:500px){

	.jumbotron img {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		max-width: 500px;
	}
}